.col.col-sm-10.col-md-10.col-lg-10.col-xg-8.p-4.border-bottom
  = comment.comment 
  %p.date.mt-2
    Published at
    = time_ago_in_words(comment.created_at)
    by
    = comment.user.email
  %p
    - if user_signed_in? && comment.user.id == current_user.id
      = link_to "Edit", edit_post_comment_path(comment.post, comment), class: "buttons me-2"
      = link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure" }, class: "buttons"