.p-4.bg-white
  .row
    = simple_form_for @post do |f|
      = f.input :title, error: "title is required"
      <br
      = f.rich_text_area :content
      <br>
      = f.button :submit, class: "button"
      = link_to "Cancel", root_path, class: "btn button"
