#post_content 
  %h1= @post.title
  = @post.content
  #comments
    %h2
      = @post.comments.count
      Comments 
    = render @post.comments

    - unless user_signed_in?
      %p Login to add comment
    - else
      %h3 Reply to thread
      = render "comments/form"
  %br/
  %hr/
  %br/
  - if user_signed_in? && @post.user === current_user
    = link_to "Edit", edit_post_path(@post), class: "button"
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" }, class: "button"
    = link_to "Home", root_path, class: "button"
